@charset "UTF-8";

body {
    background-image: linear-gradient(-45deg, rgb(171, 230, 171)
    , rgb(178, 185, 168));
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: justify;
    
}

h1 {
    color: rgb(16, 88, 16);
}

#principal {
    text-align: center;
    font-size: 2.8em;
    color: white;
    background-color: green;
    border-radius: 5px;

}

h2 {
    color: rgb(27, 70, 55);
}

.bas {
    color: rgb(73, 167, 167);
}

.int {
    color: rgb(175, 161, 35);
}

.ava {
color: crimson;
}

.apr {
    background-color: rgba(100, 236, 82, 0.308);
    font-size: 2em;
    width: 9em;
    
}

p {
    text-indent: 3em;
}



