@charset "UTF-8";

body {
    background-color: rgb(233, 226, 217);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h1 {
    color: rgb(81, 204, 56);
    background-color: rgb(241, 18, 44);
    text-align: center;
}
h2 {
    color: rgb(15, 89, 112);
}
p {
    color: rgb(56, 47, 47);
    text-align: justify;
}